<head>
    <title>404: Not Found</title>
    <style>
      .divWhite {
        width: fit-content;
        margin-top: 15%;
        margin-left: 33%;
      }
    </style>
  </head>
  
  <body style="background-color: rgb(226, 226, 226);">

    <div class="divWhite">
      <h1 class="text-center mb-3">404</h1>
      <div class="form-group">
        <center><label for="text">Looks like you have reached a null point! This page does not exist! <br>No problemo! Just use one of the following links below!</label></center>
      </div>
    <p class="text-center mb-3">
      <a href="/">Home</a> | <a href="/login">Login</a> | <a href="/signup">Register</a>
    </p>
    </div>
    
  </body>